
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 30px;
  max-width: 800px;
  width: 100%;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  z-index: 2; 
}

h1 {
  font-size: 2.5rem;
  color: #007bff;
  margin-bottom: 20px;
  text-transform: uppercase;
}

p {
  font-size: 1.1rem;
  color: #666;
  margin-bottom: 30px;
  font-weight: 300;
}

.search-box {
  display: flex;
  justify-content: center;
  gap: 15px;
}

input {
  width: 70%;
  padding: 12px 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
  padding: 12px 25px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background-color: #0056b3;
  transform: scale(1.05);
}

button:active {
  transform: scale(1);
}

#resultado {
  margin-top: 30px;
  text-align: left;
}

.result-box {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
}

.livro {
  width: 100%;
  max-width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fafafa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.livro:hover {
  transform: scale(1.05);
}

.livro img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
  object-fit: cover;
}

.livro h3 {
  font-size: 1.3rem;
  color: #333;
  margin-bottom: 10px;
  font-weight: bold;
}

.livro p {
  font-size: 1rem;
  color: #555;
}

.livro .descricao {
  font-size: 0.9rem;
  color: #777;
  margin-top: 10px;
  text-align: justify;
}

.livro .autor {
  font-weight: bold;
  color: #007bff;
}


@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  .search-box {
    flex-direction: column;
    gap: 10px;
  }

  input {
    width: 100%;
  }

  button {
    width: 100%;
  }

  .result-box {
    flex-direction: column;
    align-items: center;
  }

  .livro img {
    width: 80%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  .result-box {
    flex-direction: column;
    align-items: center;
  }

  .livro img {
    width: 100%;
  }
}
